@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

h2 {
    color:rgb(129, 57, 129);
}

.section-title {
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

#bio-links {
    display: flex;
    margin:0;
    padding: 0;
}

.bio-link {
    list-style: none;
    padding: 0 25px 0 0;
    margin: 1px;
}

.bio-link > a {
    color: black;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.grid-item {
    flex-direction: row;
    -ms-wrap-flow: both
}

.bio-image {
        display: block;
        float: left;
        grid-column: 1 / span 3;
        width: 280px;
        -ms-wrap-flow: both
      }



.projects-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}   

.projects-grid-item{

}

h4.capitalize {
    text-transform: capitalize;
  }

.card > a> img {
    width:100%;
    height:225px;

    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
}



.card > a> img:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
  }