@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

h1 {
    color:red;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
}

#bio-links {
    display: flex;
    margin:0;
    padding: 0;
}

.bio-link {
    list-style: none;
    padding: 0 25px 0 0;
    margin: 1px;
}

.bio-link > a {
    color: black;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.grid-item {
    flex-direction: row;
    -ms-wrap-flow: both
}

.bio-image {
        display: block;
        float: left;
        grid-column: 1 / span 3;
        width: 280px;
        -ms-wrap-flow: both
      }



.projects-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}   

.projects-grid-item{

}

h4.capitalize {
    text-transform: capitalize;
  }

.card-body img {
width:100%;

}