h1 {
    color:red;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
}

#contact-links {
    display: flex;
    margin:0;
    padding: 0;
}

.contact-link {
    flex-direction: row;
    list-style: none;
    padding: 10px;
    margin: 10px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.grid-item {

}

.bio-image {
    width: 280px;
}